<div class="form-container">
  <% if @time_entry.errors.any? %>
    <div class="row">
      <div class="alert alert-dismissible alert-warning col-lg-6">
        <strong><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time entry from being saved:</strong>

        <ul>
          <% @time_entry.errors.full_messages.each do |message| %>
            <li><%= message %></l1>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <%= form_for @time_entry do |f| %>
    <form class="form-horizontal">
      <fieldset>

        <div class="row">
          <div class="form-group col-lg-6">
            <%= f.label :subject, class: "col-lg-6 control-label" %>
            <%= f.text_field :subject, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-6">
            <%= f.label :project %><br>
                <%= f.select(
                  :project_id,
                  options_from_collection_for_select(
                  Project.all,
                  :id,
                  :name
                  ),
                  {},
                  {class: "form-control"}
                ) %>
          </div>
        </div>

       <%= f.hidden_field :developer_id %>

       <%= f.submit class: "btn btn-primary" %>
      </fieldset>
    </form>
  <% end %>
</div>
