<h2 class="authentication-headline" id="login-header">Log In</h1>
<%= link_to "(or sign up!)", signup_path, class: "authentication-headline" %>


<div class="form-container">
  <%= form_tag login_path do %>
    <form class="form-horizontal">
      <fieldset>

        <div class="row">
          <div class="form-group col-lg-6">
            <%= label_tag :email, "Email", { class: 'col-lg-6 control-label' } %>
            <%= text_field_tag :email, "", :class => "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-6">
            <%= label_tag :password, "Password", { class: 'col-lg-6 control-label' } %>
            <%= password_field_tag :password, "", :class => "form-control" %>
          </div>
        </div>

        <%= submit_tag "Log In", :class => "btn btn-primary" %>

      </fieldset>
    </form>
  <% end %>
</div>
